<div class="wrap">
	<h2>Plugin Configuration {{ name }}</h2>
	<script type="text/javascript">
	   jQuery.post(
		    ajaxurl, 
		    {
		        'action': 'my_ajax',
		        'data':   'Are you crazy ?!'
		    }, 
		    function(response){
			    jQuery('#content').html( JSON.parse(response));
		    }
		);
	</script>
	<div id="content"></div>
</div>